# Flutter
build/
.dart_tool/
.packages
.pub/
.pub-cache/
*.iml
*.lock
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
